<table class="table table-hover">
    <thead>
        <tr>
            <th>NRP</th>
            <th>Kode Mata Kuliah</th>
            <th>Semester</th>
        </tr>
    </thead>
    <tbody>
        {{#each this}}
        <tr>
            <td>{{nrp}}</td>
            <td>{{kode_mk}}</td>
            <td>{{semester}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>