<table class="table table-hover">
    <thead>
      <tr>
        <th>Nrp</th>
        <th>Nama Lengkap</th>
      </tr>
    </thead>
    <tbody>
        {{#each a['values']}}
        <tr>
            <td>{{nrp}} </td>
            <td>{{nama}} </td>
        </tr>
        {{/each}}
    </tbody>
  </table>